@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #040404;
  --light-dark: #f3f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: #77B2FF;

  --font-sans: var(--font-parkinsans-sans);
  --font-mono: var(--font-fustat-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #040404; /* TODO: Cambiare il tema */
    --light-dark: #f3f3f3;
  }
}
 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fustat", sans-serif;
}

